@font-face {
    font-family: "DM Sans";
    src: url("fonts/static/DMSans-Regular.ttf");
}

:root {
    --main-color: #101C45;
}

* {
    margin: 0;
    padding: 0;
    font-family: "DM Sans";
}

a {
    color: var(--main-color) !important;
}

body {
    position: relative;
    overflow-x: hidden;

    .bg-hero {
        position: absolute;
        top: 0;
        right: 2%;
        width: 52%;
        height: 100%;
        background: #9BEAE0;
        clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
        z-index: -1;
    }
}